
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  margin: 0 auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background:rgb(25,12,41)
}
.slider{
  /* margin: 0 auto; */
  /* position: relative; */
  width: 50%;
  /* overflow: hidden; */

}

.images{
overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;

}
.xueta{
  width:400%;
  display: flex;
  margin-bottom: 5%;
  transition: all 0.8s ease;
 
}
.xueta li{
  width: 100%;

}
.images img{
  height:100%;
  width: 100%;
  transition: all 0.15s ease ;
}
.images input{
  display: none;
}
.dots{
  /* border: 1px solid rgb(15, 38, 216); */
  display: flex;
  justify-content:flex-end;
  /* margin: 0.5em; */
}
.dots label{
  /* padding: 1em; */
  height: 1.5em;
  width: 1.5em;
border-radius: 50%;
cursor: pointer;
border: 0.4em solid #fff;
transition:  all 0.11s ease;
margin: 0.5em;
}
.dots label:active{
  transform: scale(0.6);
}
/* .li .m1{
  width: 20em;
} */
.dots label:hover{ background: #fff;}
#img1:checked ~ .xueta{
  margin-left: 0;
}
#img2:checked ~ .xueta{
  margin-left: -101%;
}
#img3:checked ~ .xueta{
  margin-left: -201%;
}
#img4:checked ~ .xueta{
  margin-left: -300%;
}  
/* ________________________________________________ */
#img1:checked ~ .footer .slider_text li{
  margin-left: 0;
}
#img2:checked ~ .footer .slider_text li{
  
  margin-left: -100%;
}
#img3:checked ~ .footer .slider_text li{
  margin-left: -200%;
}
#img4:checked ~ .footer .slider_text li{
  margin-left: -300%;
}
#img1:checked ~ div label[for="img1"]{
  background: #fff;
}
#img2:checked ~ div label[for="img2"]{
  background: #fff;
}
#img3:checked ~ div label[for="img3"]{
  background: #fff;
}
#img4:checked ~ div label[for="img4"]{
  background: #fff;
}
.footer{
  display: flex;
  justify-content: space-between;
  /* border: 1px solid rgb(30, 255, 0); */
}

/* _________________________________________ */
.slider_text{
  /* border: 1px solid red; */
  /* display: flex; */
  width: 60%;
  overflow: hidden;

}
li{

  /* width: 100%; */
  text-decoration: none;
list-style-type: none;
}
p{
width: 100%;
  color: #fff;
}
/* .slider_text{
  width: 400%;
  display: flex;
  overflow: hidden;
} */
.slider_text li{
  width: 400%;
  display: flex;
  transition: all 0.60s ease;
  /* justify-content: space-between; */
}
@media  (max-width:784px ){
  .footer{
    flex-direction: column-reverse;
    align-items: center;
gap: 5%;
  }
  .slider_text{
    text-align: center;
     align-self: start;
     margin-top: 4%;
  }
}